{% extends "base.html" %}
{% block content %}

{#<h1> {{ object }}</h1>#}
{#<ul>#}
{##}
{#    {% for o in object.statements.all %}#}
{##}
{#        <li>#}
{#            <a href="{% url 's:detail' o.pk %}">#}
{#                {{ o }}#}
{#            </a>#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}

<div class="">
    <div class="sidebar-sidebar">
    <h1 class="sidebar-title">
        {{ object }}
    </h1>
    <div class="sidebar-img">
        <img src="" alt="">
    </div>
    <div class="sidebar-affiliation-img">
        <img src="" alt="">
    </div>
    <div class="sidebar-topics">
        <h2>
            נושאים
        </h2>
        <div class="sidebar-buttons">
            {% for t in view.get_topics %}
                <button>
                    {{ t.title }}
                </button>
            {% endfor %}

        </div>
    </div>
    </div>


    <div class="main">

    </div>
</div>
{% endblock %}