{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-2 sidebar ">
            <a class="text-decoration-none text-dark d-flex flex-column align-items-center"
               href="{% url "s:person" object.pk %}">
                <h1 class="sidebar-title text-center">
                    {{ object }}
                </h1>
                <div class="sidebar-img">
                    <img src="{{ object.img_url }}"
                         alt="{{ object }}">
                </div>
            </a>
            <i><strong>
                {{ object.affiliation }}
            </strong> </i>
            <div class="sidebar-person-title">
                <strong>
                    {% if object.title != null %}
                        {{ object.title }}
                    {% endif %}
                </strong>
            </div>
            <h1 class="d-flex   align-items-center justify-content-center flex-column mt-3">
                {{ view.get_statements_count }}
                <div>
                    שקרים
                </div>
            </h1>

            <div class="sidebar-buttons w-100"
                 x-data="{
                      search: '',
                      show_item(el) {
                        return this.search === '' || el.textContent.includes(this.search)
                      }
                    }">
                <input class="form-control" type="search" placeholder="חיפוש נושא" x-model="search">

                {% for t in view.get_topics %}
                    <a class="btn btn-sidebar btn-block mb-1 btn-progress {% if view.topic.pk  == t.pk %} btn-active {% endif %}"
                       style="--progress: 50%"
                       href="{% url "s:person_topic" object.pk t.pk %}"
                       x-show="show_item($el)"
                    >
                        <span class="float-start">
                            {{ t.title }}
                        </span>

                        <span class="float-end">20%</span>
                    </a>
                {% endfor %}

            </div>
        </div>

        <div class="statements col-md-6 col-lg-8 col-xl-10">
            {% include "statements/_statements.html" with statements=view.get_statements %}
        </div>
    </div>
{% endblock %}
