{% extends "base.html" %}
{% load static %}
{% load web i18n %}
{% block content %}

    <div class="row h-93vh">
        <div class="sidebar col-2">
            <img src="{% static 'images/sidebar.png' %}" alt="">
        </div>


        <div class="col container pt-5 main-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col-lg-6 mb-5">
                            <input class="form-control" type="text" name="search" placeholder="חיפוש">
                        </div>
                        <div class="col">

                        </div>

                        <div class="col-lg-12 mb-5">
                            <h5>סינון לפי נושא</h5>
                            <div class="row">
                                {% for t in view.topics %}
                                    <div class="col-lg-3 col-sm-6 mb-3">
                                        <a class="btn btn-outline-secondary text-dark btn-lg btn-block btn-custom fs-6 w-100"
                                           href="{% url "s:topic" t.pk %}">{{ t }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5>סינון לפי פוליטיקאי</h5>
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/80">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/bibi.png' %}" alt="">
                                        </div>
                                        בנימין נתניהו
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/67">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/lapid.png' %}" alt="">
                                        </div>
                                        יאיר לפיד
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/31">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/gantz.png' %}" alt="">
                                        </div>
                                        בני גנץ
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/22">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/bengvir.png' %}" alt="">
                                        </div>
                                        איתמר בן גביר
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/38">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/deri.png' %}" alt="">
                                        </div>
                                        אריה מכלוף דרעי </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/liberman.png' %}" alt="">
                                        </div>
                                        אביגדור ליברמן </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/abas.png' %}" alt="">
                                        </div>
                                        מנסור עבאס </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/michaeli.png' %}" alt="">
                                        </div>
                                        מרב מיכאלי </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/ode.png' %}" alt="">
                                        </div>
                                        איימן עודה </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/smutriz.png' %}" alt="">
                                        </div>
                                        בצלאל סמוטריץ’ </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/gafni.png' %}" alt="">
                                        </div>
                                        משה גפני
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"
                                       href="/p/1">
                                        <div class="float-start mx-2 "
                                             style="">
                                            <img src="{% static 'images/politicians/goldknopf.png' %}" alt="">
                                        </div>
                                        יצחק גולדקנופף </a>
                                </div>
                                {#                                {% for p in view.people %}#}
                                {#                                    <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">#}
                                {#                                        <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center"#}
                                {#                                           href="{% url "s:person"  p.pk %}">#}
                                {#                                            <div class="float-start mx-2 rounded-circle statement-person-img"#}
                                {#                                                 style="background-image: url({{ p.img_url }})">#}
                                {#                                            </div>#}
                                {#                                            {{ p }}#}
                                {#                                        </a>#}
                                {#                                    </div>#}
                                {#                                {% endfor %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

