{% extends "statements/statement_list.html" %}
{% load web i18n %}
{% block main %}
    <h1>
        {{ view.title }}
    </h1>
    {% with o=object %}
        <div class="col my-2 p-3 px-lg-5 border">
            {% include "statements/_statement.html" with with_author=1 %}
            <hr>
            {% if o.detailed_content %}
                {{ o.detailed_content|linebreaks }}
                <hr>
            {% endif %}
            <h2>
                {% translate "Resources" %}
            </h2>
            <ul>
                {% if o.url %}
                    <li>
                        <a class="text-decoration-none"
                           href="{{ o.url }}"
                           target="_blank">
                            {% translate "Original statement" %}
                        </a>
                    </li>
                {% endif %}
                {% if o.review_url %}
                    <li>
                        <a class="text-decoration-none"
                           href="{{ o.review_url }}"
                           target="_blank">
                            {% translate "Review" %} - {{ o.reviewed_by }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endwith %}
{% endblock %}


