{% extends "base.html" %}
{% load web i18n %}
{% block content %}
    <div class="row">

<div class="col-md-6 col-lg-4 col-xl-2 sidebar">
        <h4 class="sidebar-title">
            הנצפים ביותר
        </h4>
        <div class="statements col-md-6 col-lg-8 col-xl-10">
            {% include "statements/_statements.html" with statements=view.get_statements home_page=1 %}
        </div>
    

    </div>
    <div class="col container pt-5 main-content">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 mb-5">
                        <input class="form-control" type="text" name="search" placeholder="חיפוש">
                    </div>
                    <div class="col-lg-12 mb-5">
                        <h5>סינון לפי נושא</h5>
                        <div class="row">
                            {% for t in view.topics %}
                                <div class="col-lg-3 col-sm-6 mb-3">
                                    <a class="btn btn-outline-secondary text-dark btn-lg btn-block btn-custom fs-6 w-100"
                                       href="{% url "s:topic" t.pk %}">{{ t }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h5>סינון לפי פוליטיקאי</h5>
                        <div class="row">
                            {% for p in view.people %}
                                <div class="col-lg-3 col-sm-6 mb-4 d-flex flex-column justify-content-center align-items-center text-dark text-decoration-none">
                                    <a class="text-decoration-none text-dark d-flex flex-column justify-content-center align-items-center" href="{% url "s:person"  p.pk %}">
                                        <div class="float-start mx-2 rounded-circle statement-person-img"
                                             style="background-image: url({{ p.img_url }})">
                                        </div>
                                        {{ p }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

