{% extends "base.html" %}
{% load web i18n %}
{% block content %}
    <div class="row">
        <div class="col-lg-2">
            <div class="list-group mt-2">
                <a class="list-group-item list-group-item-action {% if view.is_home %}active{% endif %}"
                   href="{% url "s:list" %}">
                    {% trans "All Statements" %} ({{ view.total }})
                </a>
            </div>

            <div class="list-group mt-1">
                {% for t in view.topics %}
                    <a class="list-group-item list-group-item-action  {% if t == view.topic %}active{% endif %}"
                       href="{{ t.get_absolute_url }}">
                        {{ t }} ({{ t.items }})
                    </a>
                {% endfor %}
            </div>

            <div class="list-group mt-1">
                {% for p in view.people %}
                    <a class="list-group-item list-group-item-action {% if p == view.person %}active{% endif %}"
                       href="{{ p.get_absolute_url }}">
                        {{ p }} ({{ p.items }})
                    </a>
                {% endfor %}
            </div>

            <div class="d-grid mt-2">
                <a class="btn btn-light btn-block"
                   href="{% url "s:export" %}">
                    {% trans "JSON" %}
                </a>
            </div>

        </div>
        <div class="col-lg-10">
            {% block main %}
                <h1>
                    {{ view.title }}
                    <small>({{ object_list.count }})</small>
                </h1>
                {% include "statements/_statements.html" with statements=object_list with_author=1 %}
            {% endblock %}
        </div>

    </div>

{% endblock %}


