{% extends "statements/statement_list.html" %}
{% load web i18n %}
{% block main %}
    {% with o=object %}
        <div class="mx-lg-5 my-lg-5 p-3 p-lg-5 border">
        {% include "statements/_statement.html" with with_author=1 %}
        <hr>
        {% if o.detailed_content %}
            {{ o.detailed_content|linebreaks }}
            <hr>
        {% endif %}
        <h2>
            {% translate "Resources" %}
        </h2>
        <ul>
            {% if o.url %}
                <li>
                    {% translate "Original statement" %}:&nbsp;
                    <a class="text-decoration-none"
                       href="{{ o.url }}" target="_blank">
                        {{ o.url }}
                    </a>
                </li>
            {% endif %}
            {% if o.review_url %}
                <li>
                    {% translate "Review" %} - {{ o.reviewed_by }}:
                    <a class="text-decoration-none"
                       href="{{ o.review_url }}" target="_blank">
                        {{ o.review_url }}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endwith %}

</div>
{% endblock %}


