{% extends "base.html" %}
{% block content %}

    <div class="row">



    <div class="col-s-6 col-lg-4 sidebar-sidebar">
        <h1 class="sidebar-title">
            {{ object }}
        </h1>
        <div class="sidebar-topics">
            <div class="sidebar-buttons">
                <div x-data="{ search: '' }">
                    <div
                            x-data="{
                            search: '',

                            items: people,

                            get filteredItems() {
                                return this.items.filter(
                                    i => i.name.includes(this.search)
                                )
                            }
                        }"
                    >
                        <input x-model="search"
                               placeholder="Search...">

                        <ul class="sidebar-buttons">
                            <template x-for="item in filteredItems"
                                      :key="item.name">
                                <a class="button "
                                   x-bind:href="item.url"
                                   x-text="item.name">
                                </a>

                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sidebar-rating">

            </div>
        </div>
    </div>

    <div class="col-s-6 col-lg-8">
        {% include "statements/_statements.html" with statements=view.get_statements with_author=1 %}
    </div>


    {{ view.get_people_names|json_script:"people" }}
    <script>
      const people = JSON.parse(document.getElementById('people').textContent);
      console.log(people);
    </script>
{% endblock %}
