{% extends "base.html" %}
{% block content %}

    <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-2 sidebar">
        <h1 class="sidebar-title">
            {{ object }}
        </h1>
    <p>{{ view.get_statements.count }}</p>

            <div class="sidebar-buttons w-100"
                 x-data="{
                      search: '',
                      show_item(el, index) {
                           if (this.search === '' ) {
                               return index < 4
                           }
                           else {
                               return el.textContent.includes(this.search)
                           }
                      }
                    }">
              <input class="form-control" type="search" placeholder="חיפוש נושא" x-model="search">

                {% for p in view.get_people %}
                    <a class="btn btn-sidebar btn-block mb-1 {% if view.person.pk  == p.pk %} btn-active {% endif %}"
                       href="{% url "s:topic_person" object.pk p.pk %}"
                       x-show="show_item($el, {{ forloop.counter0 }})"
                    >
                        <span>
                            {{ p.name }}
                        </span>
                        <span class="float-end">{{ p.items }} ({{ p.percent }}%)</span>
                    </a>
                {% endfor %}

            </div>
    </div>

    <div class="statements  col-md-6 col-lg-8 col-xl-10">
        {% include "statements/_statements.html" with statements=view.get_statements with_author=1 %}
    </div>



{% endblock %}
