{% load static i18n %}
<!doctype html>
<html lang="he"
      dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.rtl.css' %}">
    <link rel="stylesheet"
          href="{% static 'main.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>{{ view.title }} / {% trans "True Politics" %}</title>
</head>
<body>

<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid justify-content-start">
            <a class="navbar-brand fw-bold  " href="{% url "s:list" %}">
                True Politics
            </a>
            <span>
                    מנקים את הפוליטיקה מהבטחות ואמירות שווא
            </span>
            <ul class="navbar-nav">
                <li class="nav-item">

                </li>
            </ul>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

</body>
</html>
